<bs-stepper
  [stepNames]="stepNames"
  [currentStep]="currentStep"
  (stepChanged)="onStepChanged($event)"
></bs-stepper>
<br />
<div class="bs-stepper-content">
  <div class="fade-in" *ngIf="currentStep === 0">
    <spinner [isVisible]="!featureTypes"></spinner>
    <ng-container *ngIf="featureTypes">
      <user-dialog
        [(maxPrice)]="filter.maxPrice"
        [(features)]="filter.features"
        [(roomArea)]="filter.roomArea"
        [featureTypes]="featureTypes"
        [powerPerSquareMeter]="filter.powerPerSquareMeter"
      >
      </user-dialog>
      <button (click)="onStepChanged(currentStep + 1)" class="btn btn-primary">
        Далі
      </button>
    </ng-container>
  </div>

  <div class="fade-in" *ngIf="currentStep === 1">
    <display-recommended-products
      [sortedProductsByMatchingFeaturesDesc]="recommendedProducts"
      [selectedFeatures]="filter.features"
      [productsNumberToDisplay]="filter.productsNumberToDisplay"
    >
    </display-recommended-products>
    <button (click)="onStepChanged(currentStep - 1)" class="btn btn-primary">
      Назад
    </button>
  </div>
</div>
