<ng-template #productIsLoading>
  <spinner></spinner>
</ng-template>
<div *ngIf="!isProductLoading; else productIsLoading" class="row">
    <div class="col-md-4">
        <product-card [product]="product"></product-card>     
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Опис товару</a>
              <ng-template ngbNavContent>
                <p style="white-space: pre-line">{{ product.description }}</p>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Характеристики</a>
              <ng-template ngbNavContent>
                <p>Coming soon.</p>
              </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>



  