<p>
    <a class="btn btn-primary" routerLink="/admin/products/new">Новий товар</a>
</p>
<div class="form-group">
  <input 
    (keyup)="onQueryChange()"
    [(ngModel)]="filter.query"
    type="text" 
    class="form-control" 
    placeholder="Введіть назву товару для пошуку ...">
</div>
<table class="table">
    <thead>
      <tr class="d-flex">
        <th class="{{ c.cssClass }}" *ngFor="let c of columns">
          <div *ngIf="!c.isSortable">{{ c.name }}</div>
          <div class="clickable" (click)="orderBy(c.key)" *ngIf="c.isSortable; else notSortable">
            {{ c.name }} 
            <i *ngIf="filter.orderBy === c.key"
                class="fa"
                [class.fa-sort-amount-asc]="filter.orderByAsc"
                [class.fa-sort-amount-desc]="!filter.orderByAsc">
            </i>
          </div>
        </th>
      </tr>
    </thead>
    <spinner [isVisible]="!displayedProducts"></spinner>
    <tbody *ngIf="displayedProducts"> 
      <tr *ngFor="let p of displayedProducts" class="d-flex">
          <td class="col-3">
            <div class="col-md-7">
                <img class="img-fluid" src="{{ p.imageUrl }}"/>
            </div>
          </td>
          <td class="col-6">
              <a [routerLink]="['/admin/products/',  p.key]">{{ p.title }}</a>
          </td>
          <td class="col-3">{{ p.price }} грн.</td>
      </tr>
    </tbody>
</table>
<ngb-pagination *ngIf="filteredProducts.length > filter.pageSize"
  [collectionSize]="filteredProducts.length" 
  [pageSize]="filter.pageSize" 
  [(page)]="filter.page"
  (pageChange)="onPageChange()">
</ngb-pagination>
