<div class="form-group">
    <h6 style="padding-top: 15px;">1. Оберіть площу вашої кімнати</h6>
    <div style="padding-top: 15px;" *ngFor="let r of radioButtonsOptionsForPowerEstimation" class="custom-control custom-radio">
        <input 
            type="radio" 
            id="{{ r.id }}"
            name="power" 
            [value]="r.value"
            [(ngModel)]="powerRange"
            (change)="onPowerRangeChange(r.value)"
            class="custom-control-input">
        <label class="custom-control-label" for="{{ r.id }}">{{ r.label }}</label>
    </div>
</div>  
