<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/rio.png" width="70px">
            
        </a>
        <button 
            (click)="toggle()" 
            class="navbar-toggler" 
            [class.collapsed]="!isExpanded"
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarsExampleDefault" 
            aria-controls="navbarsExampleDefault" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" [class.show]="isExpanded" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Вхід</a>
                    </li>
                </ng-template>
                <li class="nav-item dropdown" *ngIf="appUser; else anonymousUser" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown2">
                      {{ appUser.name }}
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                      <a ngbDropdownItem routerLink="/my-orders">Мої замовлення</a>  
                      <ng-container *ngIf="appUser.isAdmin">
                        <a ngbDropdownItem routerLink="/admin/orders">Всі замовлення</a>
                        <a ngbDropdownItem routerLink="/admin/products">Список товарів</a>
                      </ng-container>
                      <a ngbDropdownItem (click)="logout()">Вихід</a>
                    </div>
                  </li>
            </ul>
            
        </div>
    </div>
</nav>
