<bs-stepper [stepNames]="stepNames" (stepChanged)="onStepChanged($event)"></bs-stepper>
<br>
<div class="bs-stepper-content">
    <div class="fade-in" *ngIf="currentStep === 0">
        <user-dialog 
            [selectedFeatures]="filter.features" 
            (featureChanged)="onFeatureChanged($event)">
        </user-dialog>
    </div>

    <div class="fade-in" *ngIf="currentStep === 1">
        <power-estimation 
            [selectedPowerRange]="filter.powerRange"
            (powerRangeChanged)="onPowerRangeChanged($event)">
        </power-estimation>
    </div>

    <div class="fade-in" *ngIf="currentStep === 2"> 
        <display-recommended-products
            [sortedProductsByMatchingFeaturesDesc]="recommendedProducts"
            [selectedFeatures]="filter.features"
            [productsNumberToDisplay]="filter.productsNumberToDisplay">
        </display-recommended-products>
    </div>
</div>

