.fade-in {
    animation: 650ms fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

.media-body {
    text-align: right;
}

.media {
    padding-bottom: 30px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn.btn-primary {
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}