@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/bs-stepper/dist/css/bs-stepper.min.css";

body {
    padding-top: 50px;
}

.sticky-top {
    top: 80px;
}

.clickable {
    cursor: pointer;
}
