<div class="row">
  <div class="col-md-3">
    <div class="sticky-top">
      <div class="list-group clickable">
        <a
          (click)="orderByPriceAsc()"
          [class.active]="filter.isOrderedByPriceAsc"
          class="list-group-item list-group-item-action"
        >
          Від дешевих до дорогих
        </a>
        <a
          (click)="orderByPriceDesc()"
          [class.active]="
            filter.isOrderedByPriceAsc !== null &&
            filter.isOrderedByPriceAsc === false
          "
          class="list-group-item list-group-item-action"
          >Від дорогих до дешевих
        </a>
      </div>
      <div class="form-group">
        <input
          type="text"
          (keyup)="onQueryChange()"
          [(ngModel)]="filter.query"
          class="form-control"
          placeholder="Пошук товару за назвою ..."
        />
      </div>
      <p>
        <button
          class="btn btn-secondary"
          type="button"
          (click)="resetFilters()"
        >
          Скинути Фільтри
        </button>
      </p>
    </div>
  </div>
  <spinner [isVisible]="!products"></spinner>
  <div *ngIf="filteredProducts" class="col-md-9">
    <div class="row">
      <div *ngFor="let p of filteredProducts" class="col-md-4">
        <div class="card h-100">
          <div class="image-holder">
            <a [routerLink]="['/products', p.key]">
              <img class="card-img-top" src="{{ p.imageUrl }}" />
            </a>
          </div>
          <div class="card-body d-flex flex-column">
            <a [routerLink]="['/products', p.key]">
              <h6>{{ p.title }}</h6>
            </a>
            <p class="mt-auto">{{ p.price }} грн.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
